body
  background-color: $main-bg

.container
  display: flex
  justify-content: center
  align-items: center
  max-width: 100%
  padding: 2em 0 

.display-title
  font-size: 3.4em
  text-align: center
  color: $main-fg
  padding-top: 0.4em

#Gallery
  display: flex
  justify-content: flex-start
  gap: 0.5em

  .gallery-d
    display: inline-flex
    flex-flow: column wrap
    gap: 0.5em

  .gallery-item
    display: flex
    max-height: 500px
    max-width: 330px
    overflow: hidden
    border-radius: 5px

    img
      object-fit: cover
      transition: 300ms
      border-radius: 5px

      &:hover
        transform: scale(1.2)
