body
  background-color: $main-bg

.fullscreen-container
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  display: flex
  direction: column
  align-items: center
  justify-content: center
  z-index: 99
  background-color: rgba(0, 0, 0, 0.5)

.container
  display: flex
  justify-content: center
  align-items: center
  max-width: 100%
  padding: 2em 0

.display-title
  font-size: 3.4em
  text-align: center
  color: $main-fg
  padding-top: 0.4em

#Gallery
  display: flex
  justify-content: flex-start
  gap: 0.5em

  .gallery-d
    display: inline-flex
    flex-flow: column wrap
    gap: 0.5em

  .gallery-item
    display: flex
    max-width: 330px
    overflow: hidden
    border-radius: 5px
    height: fit-content

    img
      object-fit: cover
      transition: 300ms
      width: 100%

      &:hover
        transform: scale(1.2)

@media (max-width: 604px)
  #Gallery
    .gallery-item
      max-width: none
      border-radius: 0
